<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<style>
    img {
        cursor: pointer;
    }

    img:hover {
        opacity: 0.5;
    }

    .active {
        background-color: aqua;
    }
</style>

<body>
    <!-- 1. menampilkan data -->
    <!-- <div id="app"> -->
    <!-- {{ study }} -->
    <!-- </div> -->

    <!-- 2. menampilkan data dengan title -->
    <!-- <div id="app-2">
        <span v-bind:title="study">
            seen me for study
        </span>
    </div> -->

    <!-- 3. menampilkan data dengan if -->
    <!-- <div id="app-3">
        <span v-if="seen">ini adalah true</span>
        <h3>Daftar belajar</h3>
        <ol v-if="studies.length > 3">
            <li v-for="study in studies">{{ study }}</li>
        </ol>
        <li v-else>Daftar belajar belum tersedia</li>
        <h3>Isi daftar belajar</h3>
        <input type="checkbox" value="belajar laravel" v-model="studies">belajar laravel
        <input type="checkbox" value="belajar codeigniter" v-model="studies">belajar codeigniter
        <input type="checkbox" value="belajar cakePHP" v-model="studies">belajar cakePHP
    </div> -->

    <!-- 4. menampilkan data dengan for -->
    <!-- <div id="app-4">
        <ol> -->
    <!-- array -->
    <!-- <li v-for="(study, index) in studies">{{ [index] }} {{ study.text }}</li> -->
    <!-- object -->
    <!-- <li v-for="(study, value, index) in studies">{{ index }} - {{ value }} : {{ study }}</li>
        </ol>
    </div> -->

    <!-- 5. menampilkan data dengan click -->
    <!-- <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">revearse message</button>
    </div> -->

    <!-- 6. menampilkan data dengan form input / two way data binding -->
    <!-- <div id="app-6">
        <p>{{ message }}</p>
        <input type="text" v-model="message">
        <p>{{ checkbox }}</p>
        <input type="checkbox" v-model="checkbox" value="vue js">vue js
        <input type="checkbox" v-model="checkbox" value="react js">react js
        <input type="checkbox" v-model="checkbox" value="angular js">angular js
    </div> -->

    <!-- 7. menampilkan data dengan component di HTML-->
    <!-- <div id="app-7">
        <ol>
            <todo-item></todo-item>
            <todo-item></todo-item>
        </ol>
    </div> -->

    <!-- 8. menampilkan data dengan component dengan props-->
    <!-- <div id="app-8">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div> -->

    <!-- 9. perbedaan computed dan methods -->
    <!-- <div id="app-9">
        <h1>{{ namaLengkap() }}</h1>
    </div> -->

    <!-- 10. Latihan computed property -->
    <!-- <div id="app-10">
        <h1>{{ bilangan  }}</h1>
        <p>{{ hasil }}</p>
    </div> -->

    <!-- 11. attribute binding -->
    <!-- <div id="app-11">
        <br>
        <img v-bind:src="gambar" class="rounded mx-auto d-block" alt="...">
        <br>
        <img v-for="gambar in gambars" v-bind:src="gambar" class="img-thumbnail" alt="..." v-on:click="changeImage">
    </div> -->

    <!-- 12. class binding -->
    <!-- <div id="app-12"> -->
    <!-- <div class="static" v-bind:class="{ active : isActive, 'text-danger' : hasError }">Hai</div> -->
    <!-- <div v-bind:class="objectClass">Hai</div>
    </div> -->

    <!-- 13. latihan class binding  -->
    <!-- <div id="app-13">
        <button v-bind:class="{active: menu === 'home'}" v-on:click="menu = 'home'">Home</button>
        <button v-bind:class="{active: menu === 'profil'}" v-on:click="menu = 'profil'">Profil</button>
        <button v-bind:class="{active: menu === 'contact'}" v-on:click="menu = 'contact'">Contact</button>
    </div> -->

    <!-- 14. directive v-show sama dengan directive v-if, tetapi v-show hanya menampilkan class display:none  -->
    <!-- <div id="app-3">
        <ol v-show="seen">
        </ol>
    </div> -->

    <!-- 15. elemen template -->
    <!-- <div id="app-15">
        <template v-if="seen">
            <h3>Daftar Belajar</h3>
            <ol>
                <li v-for="example in examples">{{ example }}</li>
            </ol>
        </template>
    </div> -->

    <!-- 16. v-else-if -->
    <div id="app-16">
        <li v-if="study === 'belajar vuejs'">belajar vuejs</li>
        <li v-else-if="study === 'belajar reactjs'">belajar reactjs</li>
        <li v-else-if="study === 'belajar angularjs'">belajar angularjs</li>
        <li v-else="study">sudah selesai belajar</li>
    </div>

    <script type="text/javascript" src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

</body>

</html>