<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <!-- 1. menampilkan data -->
    <!-- <div id="app"> -->
    <!-- {{ study }} -->
    <!-- </div> -->

    <!-- 2. menampilkan data dengan title -->
    <!-- <div id="app-2">
        <span v-bind:title="study">
            seen me for study
        </span>
    </div> -->

    <!-- 3. menampilkan data dengan if -->
    <!-- <div id="app-3">
        <span v-if="seen">ini adalah true</span>
    </div> -->

    <!-- 4. menampilkan data dengan for -->
    <!-- <div id="app-4">
        <ol>
            <li v-for="study in studies">{{ study.text }}</li>
        </ol>
    </div> -->

    <!-- 5. menampilkan data dengan click -->
    <!-- <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">revearse message</button>
    </div> -->

    <!-- 6. menampilkan data dengan form input -->
    <!-- <div id="app-6">
        <input type="text" v-model="message">
    </div> -->

    <!-- 7. menampilkan data dengan component -->
    <div id="app-7">
        <ol>
            <todo-item></todo-item>
            <todo-item></todo-item>
        </ol>
    </div>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>